section.menu
  .blends
    .marialogo
      a(href="/")
        img(src="assets/img/maria-logo.svg" alt="María Salazar").blend
    .lay
      img(src="assets/img/arrow.svg").blend
      span Soul Healthy Living
    .logo
      img(src="assets/img/logo-negro.svg" alt="Logo María Salazar").blend

  nav
    .click Menú
    .full.none
      .line
      .links
        ul
          li
            a(href="perfil.html") perfil
          li
            a(href="programas.html") programas
          li
            a(href="blog.html") blog
          li
            a(href="superballs.html") supperballs
          li
            a(href="talleres.html") talleres
          li
            a(href="contacto.html") contacto
      .line
      .lenguaje
        a English
        a.active Español
