section.menu
	.marialogo
		img(src="assets/img/maria-logo.svg" alt="María Salazar")
	.click Menú
	.full.none
		.line
		.links
			ul
				li
					a perfil
				li
					a programas
				li
					a blog
				li
					a supperballs
				li
					a talleres
				li
					a contacto
		.line
		.lenguaje
			a English
			a.active Español
