doctype html
html
	head
		title María Salazar
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		section.home
			.maria
				img(src="assets/img/maria.svg" alt="María Salazar")
			include _menu.pug
			
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="assets/js/functions.js" type="text/javascript")
