doctype html
html
  head
    title María Salazar | Nutrición
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="assets/css/main.css")
  body
    section.pree
      #gradient
    section.nutricion
      include _menu.pug
      .container
        .nutricion
          .row
            .col.col--3-of-16.col--push-3-of-16
              .lead.cel
                h2 Nutrición
        .text-nutricion
          .row
            .col.col--5-of-16.col--push-4-of-16
              .text.cel
                p Este programa contiene un enfoque holístico hacia la salud y el bienestar, lo cual significa que observo cómo todas las áreas de tu vida están interconectadas. 
                p El estrés en tu trabajo o relación ¿te lleva a comer en exceso?. La falta de sueño o falta de energía ¿te impiden de hacer ejercicio?
                p A medida que trabajamos juntos, examinaremos cómo todas las áreas de tu vida afectan tu salud integralmente. ¿Quién eres? en términos de bioquímica y bio-individualidad cada uno somos diferentes, nuestro ritmo, actividad , metabolismo y edad in uyen a la hora de escoger la alimentación óptima para mejorar nuestro desarrollo integral.
            .col.col--6-of-16.col--push-1-of-16.float
              .img
                img(src="assets/img/programas/verduras-01.jpg" alt="verduras")
        .text-text-nutricion
          .row
            .col.col--6-of-16.col--push-3-of-16
              .text.cel
                p Cada programa es personalizado, te llevaré de la mano dándote seguimiento en cada paso, recibirás recetas fáciles de preparar para que se vuelvan parte de tu vida, además de lo que llamo “material” que es la información del por qué y para qué nos sirven ciertos alimentos.

        .sesiones
          .row
            .col.col--7-of-16
              .img
                img(src="assets/img/programas/maria2-01.jpg" alt="María Salar")
            .col.col--5-of-16.col--push-1-of-16
              .text.cel
                p — Tendrás 4 sesiones personalizadas en las que exploraremos algunos de estos conceptos —
              .text2.col--push-6-of-16.text
                p ¿Qué son los super foods y para qué nos sirven?
              .text3.col--push-3-of-16.text
                p Nutrición
              .text2.col--push-6-of-16.text
                p Para alto rendimiento físico y mental
              .text3.col--push-3-of-16.text
                p Ejercicio
              .text2.col--push-6-of-16.text
                p Ejercicios sobre la importancia de oxigenar nuestro cuerpo a través de la alimentación y respiración
              .text3.col--push-3-of-16.text
                p Bio-Individualidad
              .text2.col--push-6-of-16.text
                p Cada persona tiene necesidades únicas en cuanto a alimentación y estilo de vida, algunos alimentos que funcionan para una persona pueden ser intolerables o tóxicos para otras, por esa razón las dietas de moda tienden a fracasar a largo plazo
              .text3.col--push-3-of-16.text
                p Alimentos Primarios
              .text2.col--push-6-of-16.text
                p Los factores presentes en nuestra vida diaria como: relaciones sanas, una carrera satisfactoria, actividad física regular y espiritualidad, son factores esenciales de nutrición además de lo que comemos, que hacen que tengamos una vida en equilibrio. 
                p Cuando estos Alimentos Primarios están equilibrados, lo que comemos pasa a ser secundario. Te presentaré algunos de los alimentos más saludables del planeta y te enseñaré cómo encontrar lo más saludable ¡para tu tipo de cuerpo único!
        .beneficios
          .row
            .col.col--5-of-16.col--push-3-of-16.margin
              span.cel beneficios
              .cuadro.cel
                p.list — Bajar de peso
                p.list — Liberar la grasa almacenada
                p.list — Renovación de las células
                p.list — Reducir la inflamación
                p.list — Mejorar tu digestión
                p.list — Fortalecer tu sistema inmunológico
                p.list — Aumentar tu deseo sexual
                p.list — Tener una piel más limpia
                p.list — Reducir la celulitis
                p.list — Dormir bien
                p.list — Acceder a la energía que tu cuerpo necesita para mantenerse sano y restaurar su Qi vital.

            .col.col--6-of-16.col--push-2-of-16
              .img
                img(src="assets/img/programas/yoga-01.jpg")


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/functions.js" type="text/javascript")
