doctype html
html
  head
    title María Salazar | Programas
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="assets/css/main.css")
  body
    section.pree
      #gradient
    section.programas
      include _menu.pug
      .container
        .detox.sec
          .row
            .col.col--3-of-16.col--push-3-of-16
              .lead
                a(href="detox.html")
                  h2 Detox
            .col.col--4-of-16
              p Detox es una herramienta que puedes usar en la comodidad de tu casa.
              p Despierta tus sentidos, renueva tu cuerpo y restaura tu equilibrio; sin prohibiciones, sin pastillas y sin polvos.
              p ¡El detox es sencillo! no tiene que ser complicado
            .col.col--3-of-16.col--ab.col--pull-7-of-16.arrow
              img(src="assets/img/arrow1.svg")
              a(href="detox.html")
                p purifícate
        .anti.sec
          .row
            .col.col--push-5-of-16
            .col.col--3-of-16.col--push-3-of-16
              .lead
                a(href="anti-estrés.html")
                  h2 Anti-estrés
            .col.col--4-of-16
              p El estrés y la ansiedad son la causa principal de la falta de concentración y disminución de atención y productividad laboral. 
              p Síntomas como hipertensión, mareos, dolor de cabeza, cambios de humor, baja autoestima hacen que una persona se vea afectada ante un estado anímico y psíquico que afecta a empleados como a presidentes de una empresa.
            .col.col--3-of-16.col--ab.col--pull-7-of-16.arrow
              img(src="assets/img/arrow1.svg")
              a(href="anti-estrés.html")
                p libérate

        .nutricion.sec
          .row
            .col.col--3-of-16.col--push-3-of-16
              .lead
                a(href="nutrición.html")
                  h2 Nutrición
            .col.col--4-of-16
              p Es tiempo de relacionarte con la comida de una forma saludable por el resto de tu vida. 
              p Sin hacer hincapié en calorías, carbohidratos, grasas y proteínas, ó crear listas de restricciones o alimentos buenos y malos. En su lugar, trabajo con mis clientes para crear una vida más feliz y saludable de una manera que es divertida, flexible y gratificante.
            .col.col--3-of-16.col--ab.col--pull-7-of-16.arrow
              img(src="assets/img/arrow1.svg")
              a(href="nutrición.html")
                p Deléitate 

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/functions.js" type="text/javascript")
