doctype html
html
	head
		title María Salazar | Contacto
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		section.talleres
			include _menu.pug
			.container
				.row
					.col.col--3-of-16.col--push-3-of-16
						.lead
							h2 Talleres & Conferencias
				.imagen
					.row
						.col.col--4-of-16.col--push-3-of-16
							.lead
								h2 ¡Mi trabajo es mi pasión y mi vida!
						.col.col--6-of-16.col--push-2-of-16.float-right
							.img
								img(src="assets/img/talleres/talleres-01.jpg" alt="Talleres de María Salazar")

				.texto
					.row
						.col.col--4-of-16.col--push-4-of-16
							.text
								p My passion is to meet with a group of people from different institutions such as schools, women's groups and companies, where I give lectures and workshops, and give them the tools they need to be successful in all areas of their lives.
				.texto
					.row
						.col.col--4-of-16.col--push-3-of-16
							.etiqueta
								a
									.lay
										img(src="assets/img/arrow1.svg").blend
										span Más información

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="assets/js/functions.js" type="text/javascript")
