section.antiestres
	display: none
	.container
		margin-bottom: 30px !important
		.imagen
			.img
				margin-top: -40%
				img
					width: 100%
			.text
				padding-left: 50px
				margin-bottom: 50px
		.rocks
			margin-top: 50px
			.text
			.float
				float: right
			.img
				img
					width: 100%
		.text-rocks
			margin-top: 50px
		.spa
			margin-top: 50px
			.lead
				border-top: solid 1px $naranja
				border-bottom: solid 1px $naranja
				text-align: center
				padding: 10px 0

@media screen and (max-width: 600px)
	section.antiestres
		.container
			.imagen
				.img
					img
						margin-top: 200px !important
				.text
					margin-bottom: 50px !important
			.rocks
				.text
				.float
					float: none !important
				.img
					img
						margin-top: 50px !important
