section.contacto
	font-family: $font2
	.container
		margin-top: 50px !important
		margin-bottom: 0px !important
		.head
			text-transform: uppercase
			letter-spacing: 3px
		form
			padding: 20px
			box-sizing: border-box
			font-size: 2em
			font-family: $font2 !important
			display: block
			max-width: 60%
			margin: 40px auto 10px auto
			input::placeholder
			 color: rgba(0,0,0,0.15)
			input[type="text"]
				letter-spacing: 3px
				padding: 10px
				width: 400px
				font-family: $font2 !important
				background: none
				border: 0
				border-bottom: solid 1px $naranja

				&:focus
					outline: none
			input[type="email"]
				letter-spacing: 3px
				padding: 10px
				margin-left: 100px
				margin-top: 50px
				display: block
				width: 400px
				font-family: $font2 !important
				background: none
				border: 0
				border-bottom: solid 1px $naranja
				&:focus
					outline: none
			textarea
				letter-spacing: 3px
				padding-left: 10px
				padding-right: 10px
				padding-top: 10px
				padding-bottom: 150px
				width: 450px
				margin-left: 200px
				margin-top: 50px
				font-family: $font2 !important
				background: none
				border: 0
				border-bottom: solid 1px $naranja
				&:focus
					outline: none
			textarea::placeholder
			 color: rgba(0,0,0,0.15)
		.datos
			p
				line-height: 0
				letter-spacing: 3px
