section.post
	display: none
	.container
		width: 60%
		margin: 50px auto !important
		main
			article
				font-family: $font2
				position: relative
				margin-bottom: 8%
				.content
					header
						.description
							position: relative
							width: 100%
							.text
								position: relative
						.lay
							width: 140px
							height: 40px
							img
								width: 170px
								height: 40px
								position: absolute
							time
								text-transform: uppercase
								display: block
								position: relative
								top: 11px
								left: 8px
								margin: 0
								font-size: .9em
								letter-spacing: 7px
								line-height: 1.5
								text-align: center !important
								font-family: $font1
						.lead
							margin-top: 50px
						.post-image
							img
								width: 100%
					.blogmas
						letter-spacing: 3px
						margin-top: 50px
						margin-bottom: 100px


@media (max-width: 600px)
	section.post
		.container
			width: 100% !important
			margin-top: 130px !important
		article
				.content
					header
						position: relative !important
						.lay
							margin-left: 30% !important
						.post-image
							img
								position: static !important
								top: 0
								width: 100% !important
								right: 0
						.lead
							padding-left: 25%
							width: 70% !important
						.description
							width: 100% !important
							.text
								position: relative !important
								left: 0% !important
								width: 75% !important
								margin-left: 20% !important
					.blogmas
						position: relative
						.contentmas
							margin-left: 20% !important
							width: 70% !important
							.aparte
								margin-top: 50px
								padding: 5px !important
								width: 100% !important
								position: static !important
								.quote
									padding: 0px 10px !important
									margin-top: 0 !important
						.leermas
							margin-left: 20% !important
						.leermenos
							margin-left: 20% !important
					.fb
						padding: 20px
						width: 50% !important !important
						margin: 0 auto
						.fb-comments
							margin: 0 auto !important
