section.programas
	.container
		font-family: $font2
		.sec
			margin: 120px 0
			.arrow
				position: relative
				bottom: 20px
				p
					line-height: 0
					position: relative
					left: 9px
					font-family: $font1
					text-transform: uppercase
					font-size: .8em
					top: 1px
					letter-spacing: 1px
				img
					width: 110px
					position: absolute



@media screen and (min-width: 1290px)
	section.programas
		.container
			.sec
				margin: 120px 0
				.arrow
					p
						line-height: 0
						position: relative
						left: 9px
						font-family: $font1
						text-transform: uppercase
						font-size: .7em
						top: 0px
						letter-spacing: 1px

@media screen and (max-width: 640px)
	section.programas
		width: 60%
		margin: 0 auto
		.container
			.sec
				margin: 120px 0
				.arrow
					margin-top: 50px
					p
						line-height: 0
						position: relative
						left: 9px
						font-family: $font1
						text-transform: uppercase
						font-size: .8em
						top: 11px !important
						letter-spacing: 1px
